
.container{
	width: 90%;
	margin: 0 auto;
}
nav ul{
	padding: 0;
}
nav ul li{
	display: inline;
}
nav a{
	text-decoration: none;
	color: #999;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}